<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MapMyPathWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MapMyPathWeb.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/Images/logo.png">
    <link rel="stylesheet" href="~/css/route.css" asp-append-version="true" />


</head>
<body>
    <header>
            <div>
                <nav>
                    <ul>
                    <li class="navli-l0" style="margin: auto">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="~/Images/logo.png" title="Home" alt="no image" height="100" width="100"/>
                            </a>
                        </li>
                        
                       
                        <li class="navli-l1" style="margin-left: auto">@Html.ActionLink("Sign in", "SignIn", "User", new { @class = "action-link" })</li>
                    </ul>
                <div id="menuToggle">
                  
                    <input type="checkbox" />

                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        
                        <li><a href="../Home/Index"> <img src="~/Images/logo.png" title="logo" alt="no image" height="50" width="50" /></a></li>
                        <li><a href="../Home/Index">Home</a></li>
                        <li><a href="#">About</a></li>
                        
                    </ul>
                </div>
                </nav>
            </div>
    </header>
    <div class=" my-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <strong>
            &copy; @DateTime.Now.Year  - MapMyPath -
            @Html.ActionLink("About", "About", "Home")
         -   <a asp-area="" asp-controller="Home" asp-action="Privacy" style="text-decoration-none color:white">Privacy</a>
        </strong>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
